## For Loop

In [ ]:
for i in range(1,10,2):        #range(start,stop,step)
    print(i,end = " ")

In [ ]:
for i in range(1,10):        #range(start,stop,step = 1)
    print(i,end = " ")

In [ ]:
for i in range(10):        #range(start =0,stop,step=1)
    print(i,end = " ")

In [ ]:
x = "hello"

for i in range(len(x)):
    print(i)

In [ ]:
x = "hello"
# print(x[0],x[1],x[2],x[3],x[4])

for i in range(len(x)):
    print(i,"---",x[i])

In [ ]:
x = "hello"

for i in x:
    print(i)

### Q1.
#### wap to print the factors of a given number

In [ ]:
x = int(input("enter a number = "))
c = 0

for i in range(1,x+1):
    if(x % i == 0):
        c = c + 1
        print("the factor of",x,'is',i)
print("Total factor of",x,"is =",c)

### Q2.
- wap to print the even numbers between 1 to 100

In [ ]:
for i in range(2,101,2):
    print(i,end=" ")

In [ ]:
for i in range(1,101):
    if(i%2 == 0):
        print(i,end=" ")

In [ ]:
for i in range(100,1,-2):
    print(i,end=" ")

### Break, Continue and Pass

## Break

In [ ]:
for i in range(1,5):
    if (i == 3):
        break
    else:
        print(i)

In [ ]:
for i in range(1,5):
    if (i == 3):
        continue
    else:
        print(i)

In [ ]:
if(10 > 15):
    print("hello")
else:
    pass

#### wap to reverse a number ex 5675 --- > 5765

In [ ]:
x = int(input("enter a number = "))
y =  str(x)
z = y[ : : -1]
x = int(z)
print(x)

In [12]:
x = int(input("enter a number = "))
rev = 0

while(x > 0):
    rem = x % 10
    rev = (rev *10)+rem
    x = x // 10

print("reversed number = ",rev)

enter a number = 12
reversed number =  21

### Q7. wap to print the factorial a input number

In [7]:
x = int(input("enter a number = "))
fact = 1

if x < 0:
    print("factorial doesn't exists")
else:
    for i in range(1,x+1):  
        fact = fact * i

    print("the factorial of",x,"is =",fact)

enter a number = 5
the factorial of 5 is = 120

## While Loop

In [9]:
i = 0
while(i <= 5):
    print(i)
    i = i+1

0
1
2
3
4
5

## wap to swap the two numbers

In [14]:
x = 5
y = 6

print("before swapping = ",x)
print("before swapping = ",y)

z = x
x = y
y = z

print("after swapping = ",x)
print("after swapping = ",y)

before swapping =  5
before swapping =  6
after swapping =  6
after swapping =  5

In [15]:
x = 5
y = 6

print("before swapping = ",x)
print("before swapping = ",y)

x = x + y
y = x - y
x = x - y

print("after swapping = ",x)
print("after swapping = ",y)

before swapping =  5
before swapping =  6
after swapping =  6
after swapping =  5

In [16]:
x = 5
y = 6

print("before swapping = ",x)
print("before swapping = ",y)

x,y = y,x

print("after swapping = ",x)
print("after swapping = ",y)

before swapping =  5
before swapping =  6
after swapping =  6
after swapping =  5

In [1]:
##home work ques
# 1. wap to print the fibbonaci series between upto 10 
# # o/p -> 0,1,1,2,3,5,8....
# 2. wap to check a string is palindrome or not
# 3. wap to check a number is palindrome or not
# 4. wap to check the a number is prime number or not
# 5. wap to print all the prime number between 1-100

In [2]:
x = "hello"
for i in x:
    i.upper()
print(x)

hello

In [3]:
# wap to print the fibbonaci series between upto 10 
# # o/p -> 0,1,1,2,3,5,8....
num = int(input("enter your range = "))
x = 0
y = 1

while(x < num):
    print(x)
    x,y = y,x+y

enter your range = 5
0
1
1
2
3

### Nested Loop

In [5]:
for i in range(1,6):     # outer loop /row
    for j in range(1,i+1):    ## inner loop /col
        print("*",end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [6]:
print("hello " *5)

hello hello hello hello hello

In [7]:
i = 1
while(i <= 5):
    print("* " * i)
    i = i + 1

*
* *
* * *
* * * *
* * * * *