In [1]:
x = (1, 3.5 , True, "hello")
print(x)

(1, 3.5, True, 'hello')

In [2]:
x = (11,22,33,44)
y = list(x)
y[1] = 28
x =  tuple(y)
print(x)

(11, 28, 33, 44)

In [3]:
x = ("hello","hi")
y = ("hello",)
z = ("hello")


print(type(x))
print(type(y))
print(type(z))

<class 'tuple'>
<class 'tuple'>
<class 'str'>

In [4]:
x = 5
y = 6

x,y = y,x

print(x)
print(y)

6
5

In [10]:
x,y,z = (5,6,7)
print(x)
print(y)
print(z)

5
6
7

In [14]:
x = (12,14,15,20,15,15,15)
print(min(x))
print(max(x))
print(sum(x))
print(len(x))
print(x.count(15))
print(x.index(20))

12
20
106
7
4
3

In [ ]:
x = [(2,3),(1,2),(1,1),(4,5)]

z = [(1,1),(1,2),(2,3),(4,5)]