## Data structure
- list -----> [ ]
- tuple ----> ()
- set ----> {}
- dict ---->{key:value}

### List and Tuple
1. list is a collection of different datatypes.(same in tuple)
2. list is ordered. (same in tuple)
3. list is indexed. (same in tuple)
4. repeative elements can be allowed in list.(same in tuple)
5. list is <b>mutable</b> and tuple is <b>immutable</b>

In [1]:
x = [1 , 3.5, "hello", True,1,11,11,1]
print(x)

[1, 3.5, 'hello', True, 1, 11, 11, 1]

In [2]:
print(x[2])

hello

In [3]:
x = [1 , 3.5, "hello", True,1,11,11,1]
print(x)
x[1] = 1000
print(x)

[1, 3.5, 'hello', True, 1, 11, 11, 1]
[1, 1000, 'hello', True, 1, 11, 11, 1]

In [6]:
x = [1 , 3.5, "hello", True,1,11,11,1]
print(x[1:5])
print(type(x))

[3.5, 'hello', True, 1]
<class 'list'>

In [11]:
x = [1 , 3.5, "hello", True,1,11,11,1]
x[1:6] = [100]
print(x)

[1, 100, 11, 1]

In [15]:
x = [1,32,13,56,121]
print(len(x))
print(max(x))
print(min(x))
print(sum(x))
# x.sort()
x.sort(reverse=True)
print(x)

5
121
1
223
[121, 56, 32, 13, 1]

In [19]:
# x = [1,"hello",13,56,121]
x = ["hello","hi","hey"]
print(len(x))  # 5
print(max(x))
print(min(x))
# print(sum(x))
x.sort()
# x.sort(reverse=True)
print(x)

3
hi
hello
['hello', 'hey', 'hi']

In [20]:
x = [1,2,3] * 3
print(x)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### Nested List

In [1]:
x = [1, [2, 3, 4, [5, 6, 7], 8, 9, 10], 11, 12]


print(x[1][3][1])
print(x[1][6])

6
10

In [33]:
# x = [ [] ] * 3
x = [[], [], []]
# print(id(x[0]))
# print(id(x[1]))
# print(id(x[2]))
x[0].append(100)
print(x)

[[100], [], []]

In [29]:
x = [11,22,33,44]
# x.append(100)
x.insert(0,100)
x.extend([67,89,90,100])
print(x)

[100, 11, 22, 33, 44, 67, 89, 90, 100]

In [35]:
x = [1,2,3] + [4,5,6]
# y = [1,2,3] - [4,5,6]  # error
print(x)

[1, 2, 3, 4, 5, 6]

In [5]:
# Q1
x = [[1, 2, 3, [4, 5, 6, [7, 8, 9, 10, 11], 12, 13], 14, 15]]


# x = [[1, 2, 3, [4, 5, 6, [7, 8, 9, 10, 11], 12, 13,1000], 14, 15]]
# x[0][3].append(1000)
# print(x)
# x = [[1, 2, 3, [4, 5, 6, [7, 8, 9,2000,10, 11], 12, 13], 14, 15]]
# x[0][3][3].insert(3,2000)
# print(x)
# x = [[1, 2, 3, [4, 5, 6, [7, 8, 9, 10, 11],3000, 12, 13], 14, 15]]
x[0][3].insert(4,3000)
print(x)

[[1, 2, 3, [4, 5, 6, [7, 8, 9, 10, 11], 3000, 12, 13], 14, 15]]

In [15]:
x = [11,22,33,44,55,44,44,100]

# x.remove(44)      # it remove first element of the list which mention in the brackets
# del x            # deletes x
# del x[2]     
# del x[1:4]
# z = x.pop()     # it remove last element of the list
# z  = x.pop(0)
x.clear()
print(x)
# print(z +  200)
z = []   # empty list

[]

In [22]:
x = [11,22,33,44,55]

if 331 not in x:
    print("present")
else:
    print("not present")

present

In [18]:
x =  [1,2,3]
y =  [1,2,3]
print(id(x))
print(id(y))
print(x == y)   # True
print(x is y)   # False

2073200955456
2073200955968
True
False

In [26]:
if [1,2,3]:
    print("hey")
    
if []:
    print("bye")

hey

In [44]:
# x = ["hello","hi","hey"]
x = ["a","e","i","m"]

for i in x:
    print(i)
# for i in x:
#     print(i)

# for i in range(len(x)):
#     print(i,"---",x[i])

a
e
i
m

In [35]:
x = [11,22,33,44,55,66]
# print(x[6])
print(x[5:])

[66]

In [39]:
# Q1. wap to remove all 44 from the list
x = [11,22,33,44,55,44,44,44]
# for i in x:
#     if i == 44:
#         x.remove(44)
# print(x)
while 44 in x:
    x.remove(44)
print(x)

[11, 22, 33, 55]

In [40]:
# z = [2,4,6,8,10]
z = []
for i in range(2,12,2):
    z.append(i)
print(z)

[2, 4, 6, 8, 10]

In [42]:
z  = [i*i for i in range(2,12,2)]
print(z)

[4, 16, 36, 64, 100]

In [1]:
# # Q1
# x = ["hello","hi"]
# y = ["sonu","monu"]

# # o/p
# z = ["hello sonu","hello monu","hi sonu","hi monu"]

# # Q2
# x = ["m","na","i","am"]
# y = ["y","me","s","an"]

# o/p
# z = ["my" ,"name","is","aman"]

In [4]:
x  = [11,22,44,55,44]

for i in x:
    if  i== 44:
        x.remove(44)
print(x)

[11, 22, 55]

In [5]:
# Q1
x = ["hello","hi"]
y = ["sonu","monu"]

# # o/p
# z = ["hello sonu","hello monu","hi sonu","hi monu"]

z =  []
for i in x:
    for j in y:
        z.append(i+" "+j)
print(z)

['hello sonu', 'hello monu', 'hi sonu', 'hi monu']

In [6]:
x = ["hello","hi"]
y = ["sonu","monu"]

z = [i+" "+j for i in x for j in y]
print(z)

['hello sonu', 'hello monu', 'hi sonu', 'hi monu']

In [7]:
# # Q2
# x = ["m","na","i","am"]
# y = ["y","me","s","an"]

# o/p
# z = ["my" ,"name","is","aman"]

In [8]:
x = [11,22,33,44,55,33,55,33,11]
z = []
for i in x:
    if i not in z:
        z.append(i)
print(z)

[11, 22, 33, 44, 55]

In [12]:
# Q1. wap to multiple top two elements from the list
x = [11,222,33,22,6,4,78,6]
x.sort()
print(x)
print(x[-1] * x[-2])

[4, 6, 6, 11, 22, 33, 78, 222]
17316

In [13]:
x = ["abcd","bccb","bcb","1221","babbb"]

for i in x:
    if len(i)>3 and i[0] == i[-1]:
        print(i)

bccb
1221
babbb

In [15]:
x = [1,2,3]
y = x       ## copy
x.append(100)
print(x)
print(id(x))
print(y)
print(id(y))

[1, 2, 3, 100]
1830394968512
[1, 2, 3, 100]
1830394968512

In [19]:
import copy
x = [[1,2,3]]

y = copy.deepcopy(x)
x[0].append(100)

print(x)
print(y)

[[1, 2, 3, 100]]
[[1, 2, 3]]